<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <p>Edit the chat</p>
     <p>Edit your chat: <%= chat.id %> </p>
     <p>This chat was sent from <%= chat.from %> to <%= chat.to %> </p>
     
     <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="5" cols="40"><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
    
    </body>
</html>