<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats</h1>
    <form method="GET" action="/chats/new">
     <button> New Chat</button>
    </form>

     <br>
     <br>
    <% for(let chat of chatsdata)  { %>
        <div class="chat"> 
            <p>From:  <b><%= chat.from %> </b></p>
        
             <div class="msg">
             <p>msg: <b> <%= chat.msg %> </b> </p>
             </div>
             <p>Received by: <%= chat.to %></p>
            
             <p>Time : <%= chat.created_at.toString().split(" ")[4] %></p>
             <p>Date: <%= chat.created_at.toString().split(" ").slice(0,4).join(" -") %></p>
             <hr/>
           
             <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button>Edit<button>
             </form>
             <br>
             <br>
            
             <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete Chat</button>
            </form>
            
        </div>
        <br>
        <br>
     <% } %>
</body>
</html>